In [1]:
import pandas as pd
import numpy as np

In [2]:
#Reading Datasets
books = pd.read_csv('BX-Books.csv',encoding='latin-1')
ratings = pd.read_csv('BX-Book-Ratings.csv',encoding='latin-1')

D:\softwares\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
books.head()

,isbn,book_title,book_author,year_of_publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [4]:
print(books.shape)
print(books.dtypes)

(271377, 5)
isbn                   object
book_title             object
book_author            object
year_of_publication    object
publisher              object
dtype: object

In [5]:
ratings.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [6]:
print(ratings.shape)
print(ratings.dtypes)
print(ratings.isnull().sum())

(1048575, 3)
user_id     int64
isbn       object
rating      int64
dtype: object
user_id    0
isbn       0
rating     0
dtype: int64

In [7]:
#Keeping only the Users with atleast 200 Book Ratings
counts1 = ratings['user_id'].value_counts()
counts1

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
104999        1
105002        1
105008        1
105014        1
123969        1
Name: user_id, Length: 95513, dtype: int64

In [8]:
ratings = ratings[ratings['user_id'].isin(counts1[counts1 >= 200].index)] #Removing Users with less than 200 Book Ratings
print(ratings.shape)
ratings.head()

(483728, 3)

      user_id        isbn  rating
1456   277427  002542730X      10
1457   277427    26217457       0
1458   277427  003008685X       8
1459   277427    30615321       0
1460   277427    60002050       0

In [9]:
counts = ratings['rating'].value_counts(sort = False)
counts

10     26130
0     359642
8      29215
7      19592
9      21966
6       8349
5      15078
4       1632
3       1050
2        561
1        513
Name: rating, dtype: int64

In [10]:
#Combining Rating Dataset with Books dataset on Basis og ISBN number of Book
combine_book_rating = pd.merge(ratings, books, on='isbn')  
combine_book_rating.head()

,user_id,isbn,rating,book_title,book_author,year_of_publication,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [11]:
#Creating new Dataframe with Book Title and number of Ratings on it.
combine_book_rating = combine_book_rating.dropna(axis = 0, subset = ['book_title'])
book_ratingCount = (combine_book_rating.
     groupby(by = ['book_title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
    )
book_ratingCount.head()

                                          book_title  totalRatingCount
0   A Light in the Storm: The Civil War Diary of ...                 2
1                              Always Have Popsicles                 1
2               Apple Magic (The Collector's series)                 1
3   Beyond IBM: Leadership Marketing and Finance ...                 1
4   Clifford Visita El Hospital (Clifford El Gran...                 1

In [12]:
#Combining the "combine_book_rating" and "book_ratingCount"
#So that we get no. of rating, actual rating and title of book in one single Dataframe.
rating_with_totalRatingCount = combine_book_rating.merge(book_ratingCount, left_on = 'book_title', right_on = 'book_title', how = 'left')
print(rating_with_totalRatingCount.shape)
rating_with_totalRatingCount.head()

(447648, 8)

,user_id,isbn,rating,book_title,book_author,year_of_publication,publisher,totalRatingCount
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74

In [13]:
#Eliminating Users with less than 50 totalRatingCount
popularity_threshold = 50
rating_popular_book = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
print(rating_popular_book.shape)
rating_popular_book.head()

(50914, 8)

,user_id,isbn,rating,book_title,book_author,year_of_publication,publisher,totalRatingCount
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74

In [14]:
unique_df = rating_popular_book.drop('user_id', axis='columns')
unique_df = unique_df.drop('rating', axis='columns')
unique_df.drop_duplicates('book_title')

,isbn,book_title,book_author,year_of_publication,publisher,totalRatingCount
0,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,74
180,60930535,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,123
315,60934417,Bel Canto: A Novel,Ann Patchett,2002,Perennial,101
421,61009059,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,99
575,006440188X,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,72
...,...,...,...,...,...,...
170402,451186362,Rose Madder,Stephen King,2004,Signet Book,74
175564,770427758,Drums of Autumn,Diana Gabaldon,1997,Seal Press (WA),52
182260,671867156,Pretend You Don't See Her,Mary Higgins Clark,1998,Pocket,95
185956,553287397,Dark Angel,Sally Beauman,1991,Bantam Books,50
191219,553292722,Still Waters,TAMI HOAG,1992,Bantam,75

In [15]:
#Creating Pivot Table: 
rating_popular_book = rating_popular_book.drop_duplicates(['user_id', 'book_title'])
rating_popular_book_pivot = rating_popular_book.pivot(index = 'book_title', columns = 'user_id', values = 'rating')
print(rating_popular_book_pivot.shape)
rating_popular_book_pivot.head()

(628, 809)

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,249628,249862,249894,250184,250405,250764,277427,277478,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
rating_popular_book_pivot = rating_popular_book_pivot.fillna(0) #Replacing "NaN" values with "0"
rating_popular_book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,249628,249862,249894,250184,250405,250764,277427,277478,277639,278418
book_title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
for i in range(628):
    print(rating_popular_book_pivot.index[i])

1984
1st to Die: A Novel
2nd Chance
4 Blondes
84 Charing Cross Road
A Bend in the Road
A Case of Need
A Child Called \It\": One Child's Courage to Survive"
A Civil Action
A Day Late and a Dollar Short
A Fine Balance
A Heartbreaking Work of Staggering Genius
A Is for Alibi (Kinsey Millhone Mysteries (Paperback))
A Lesson Before Dying (Vintage Contemporaries (Paperback))
A Man in Full
A Map of the World
A Painted House
A Patchwork Planet
A Prayer for Owen Meany
A Thin Dark Line (Mysteries &amp; Horror)
A Thousand Acres (Ballantine Reader's Circle)
A Time to Kill
A Virtuous Woman (Oprah's Book Club (Paperback))
A Walk to Remember
A Widow for One Year
A Wrinkle In Time
A Wrinkle in Time
ANGELA'S ASHES
About a Boy
Absolute Power
Accident
Airframe
All Around the Town
All I Really Need to Know
All That Remains (Kay Scarpetta Mysteries (Paperback))
All the Pretty Horses (The Border Trilogy, Vol 1)
Along Came a Spider (Alex Cross Novels)
American Gods
Angela's Ashes (MMP) : A Memoir
Angela's Ashes: A Memoir
Angels
Angels &amp; Demons
Animal Dreams
Animal Farm
Anne Frank: The Diary of a Young Girl
Anne of Avonlea (Anne of Green Gables Novels (Paperback))
Anne of Green Gables (Anne of Green Gables Novels (Paperback))
Anne of the Island
Artemis Fowl (Artemis Fowl, Book 1)
Ashes to Ashes
At Home in Mitford (The Mitford Years)
Atonement : A Novel
B Is for Burglar (Kinsey Millhone Mysteries (Paperback))
Back Roads
Bag of Bones
Balzac and the Little Chinese Seamstress : A Novel
Bastard Out of Carolina
Beach House
Beach Music
Before I Say Good-Bye
Bel Canto: A Novel
Beloved
Beloved (Plume Contemporary Fiction)
Betrayal in Death
Big Stone Gap: A Novel (Ballantine Reader's Circle)
Big Trouble
Bittersweet
Black House
Black Notice
Black and Blue
Blessings
Blue Diary
Body of Evidence (Kay Scarpetta Mysteries (Paperback))
Body of Lies
Brave New World
Breath, Eyes, Memory
Breathing Lessons
Bridget Jones's Diary
Bridget Jones: The Edge of Reason
C Is for Corpse (Kinsey Millhone Mysteries (Paperback))
CAT'S EYE
Call of the Wild
Carnal Innocence
Carolina Moon
Carrie
Cat &amp; Mouse (Alex Cross Novels)
Catering to Nobody
Cause of Death
Certain Prey
Chicken Soup for the Soul (Chicken Soup for the Soul)
Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))
Chocolat
Choke
Chosen Prey
Christine
Circle of Friends
Cold Mountain
Cold Mountain : A Novel
Cold Sassy Tree
Confessions of a Shopaholic (Summer Display Opportunity)
Confessions of an Ugly Stepsister : A Novel
Congo
Contact
Contagion
Coraline
Couplehood
Cradle and All
Crazy for You
Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))
Cry Wolf
Cujo
D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))
Daddy
Daddy's Little Girl
Daisy Fay and the Miracle Man
Dance upon the Air (Three Sisters Island Trilogy)
Dances With Wolves
Dangerous
Dark Angel
Dark Paradise
Dark Rivers of the Heart
Dawn (Cutler)
Debt of Honor (Jack Ryan Novels)
Deception Point
Deck the Halls (Holiday Classics)
Degree of Guilt
Deja Dead
Desperation
Different Seasons
Digital Fortress : A Thriller
Disclosure
Divine Secrets of the Ya-Ya Sisterhood: A Novel
Dolores Claiborne
Don't Stand Too Close to a Naked Man
Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)
Dragon Tears
Dragonfly in Amber
Dreamcatcher
Drowning Ruth
Drowning Ruth (Oprah's Book Club)
Drums of Autumn
Dude, Where's My Country?
Dust to Dust
Dying for Chocolate (Culinary Mysteries (Paperback))
E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))
Easy Prey
Ellen Foster
Empire Falls
Ender's Game (Ender Wiggins Saga (Paperback))
Envy
Evening Class
Everything's Eventual : 14 Dark Tales
F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))
FORREST GUMP (Movie Tie in)
Face the Fire (Three Sisters Island Trilogy)
Fahrenheit 451
Faking It
Fall On Your Knees (Oprah #45)
Falling Angels
False Memory
Family Album
Fast Food Nation: The Dark Side of the All-American Meal
Fast Women
Fat Tuesday
Fatal Cure
Fatherhood
Fear Nothing
Final Target
Fine Things
Fingersmith
Five Days in Paris
Five Quarters of the Orange
Flesh and Blood
Forever... : A Novel of Good and Evil, Love and Hope
Fortune's Rocks : A Novel
Foucault's Pendulum
Four Blind Mice
Four Past Midnight
Four To Score (A Stephanie Plum Novel)
Fried Green Tomatoes at the Whistle Stop Cafe
From Potter's Field
From the Corner of His Eye
Full House (Janet Evanovich's Full Series)
Full Tilt (Janet Evanovich's Full Series)
G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))
GARDEN OF SHADOWS (Dollanger Saga (Paperback))
Gerald's Game
Girl in Hyacinth Blue
Girl with a Pearl Earring
Girl, Interrupted
Good Omens
Good in Bed
Guardian Angel
Guilty as Sin
H Is for Homicide (Kinsey Millhone Mysteries (Paperback))
Hannibal
Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
Heart of the Sea (Irish Trilogy)
Heartbeat
Heartbreaker
Hearts In Atlantis
Heaven and Earth (Three Sisters Island Trilogy)
Here on Earth
Hide &amp; Seek
Hideaway
High Fidelity
High Five (A Stephanie Plum Novel)
Homecoming
Homeport
Hornet's Nest
Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)
House of Sand and Fog
How Stella Got Her Groove Back
How to Be Good
How to Make an American Quilt
I Capture the Castle
I Is for Innocent
I Know This Much Is True
I Know This Much Is True (Oprah's Book Club)
I Know Why the Caged Bird Sings
I'll Be Seeing You
Icebound
Icy Sparks
If Only It Were True
If Tomorrow Comes
In Her Shoes : A Novel
Inner Harbor (Quinn Brothers (Paperback))
Insomnia
Intensity
Interview with the Vampire
Into Thin Air : A Personal Account of the Mt. Everest Disaster
Into the Wild
Invasion
Isle of Dogs
It
It Was on Fire When I Lay Down on It
It's Always Something
J Is for Judgment
Jack &amp; Jill (Alex Cross Novels)
Jemima J: A Novel About Ugly Ducklings and Swans
Jewel
Jewel (Oprah's Book Club)
Jewels of the Sun (Irish Trilogy)
Journey
Jurassic Park
K Is for Killer (Kinsey Millhone Mysteries (Paperback))
Kaleidoscope
Key of Knowledge (Key Trilogy (Paperback))
Key of Light (Key Trilogy (Paperback))
Key of Valor (Roberts, Nora. Key Trilogy, 3.)
Kiss the Girls
L Is for Lawless
Ladder of Years
Lamb : The Gospel According to Biff, Christ's Childhood Pal
Last Chance Saloon
Last Man Standing
Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)
Let Me Call You Sweetheart
Life of Pi
Lightning
Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies
Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies
Little Altars Everywhere: A Novel
Lord of the Flies
Love in the Time of Cholera (Penguin Great Books of the 20th Century)
Loves Music, Loves to Dance
Lucky : A Memoir
M Is for Malice
Macgregor Grooms (Macgregors)
Master of the Game
Matilda
Me Talk Pretty One Day
Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships
Mercy
Message from Nam
Message in a Bottle
Middlesex: A Novel
Midnight
Midnight Bayou
Midnight in the Garden of Good and Evil
Midnight in the Garden of Good and Evil: A Savannah Story
Midwives: A Novel
Mirror Image
Misery
Miss Julia Speaks Her Mind : A Novel
Montana Sky
Moo
Moonlight Becomes You
Morality for Beautiful Girls (No.1 Ladies Detective Agency)
Mortal Fear
Mortal Prey
Mother of Pearl
Mr. Murder
My Gal Sunday
Mystic River
N Is for Noose
Needful Things
Neverwhere
Nickel and Dimed: On (Not) Getting By in America
Nicolae: The Rise of Antichrist (Left Behind No. 3)
Night
Night Prey
Night Sins
Night Whispers
Nightmares &amp; Dreamscapes
Nights in Rodanthe
No Greater Love
Notes from a Small Island
Now You See Her
On the Street Where You Live
One Door Away from Heaven
One True Thing
One for the Money (A Stephanie Plum Novel)
One for the Money (Stephanie Plum Novels (Paperback))
Oryx and Crake
Outlander
Over the Edge
P Is for Peril
Paradise
Patriot Games (Jack Ryan Novels)
Pay It Forward
Peace Like a River
Pet Sematary
Phantoms
Pigs in Heaven
Plainsong (Vintage Contemporaries)
Pleading Guilty
Plum Island
Point of Origin
Politically Correct Bedtime Stories: Modern Tales for Our Life and Times
Pop Goes the Weasel
Possession : A Romance
Postmortem
Practical Magic
Presumed Innocent
Pretend You Don't See Her
Pride and Prejudice
Primary Colors: A Novel of Politics
Prodigal Summer
Purity in Death
Q Is for Quarry
Range of Motion
Rebecca
Red Dragon
Red Storm Rising
Remember Me
Riptide
Rising Sun
Rising Tides
River's End
River, Cross My Heart
Rose Madder
Roses Are Red (Alex Cross Novels)
SHIPPING NEWS
STONES FROM THE RIVER
Sacred Sins
Saint Maybe
Sanctuary
Saving Faith
Scarlet Feather
Scarlett : The Sequel to Margaret Mitchell's \Gone With the Wind\""
Schindler's List
Sea Glass: A Novel
Sea Swept (Quinn Brothers (Paperback))
Seabiscuit
Seabiscuit: An American Legend
Secret History
Secrets
Seize the Night
Seven Up (A Stephanie Plum Novel)
Shadowfires
Shattered
She's Come Undone (Oprah's Book Club (Paperback))
She's Come Undone (Oprah's Book Club)
Shell Seekers
Shopaholic Takes Manhattan (Summer Display Opportunity)
Shopaholic Ties the Knot
Sick Puppy
Silence of the Lambs
Silent Witness
Skeleton Crew
Skipping Christmas
Slammerkin
Sleepers
Slow Waltz in Cedar Bend
Small Town Girl
Smilla's Sense of Snow
Snow Falling on Cedars
Sole Survivor
Song of Solomon (Oprah's Book Club (Paperback))
Songs in Ordinary Time (Oprah's Book Club (Paperback))
Southern Cross
Sphere
Standoff
Stanislaski Brothers (Silhouette Promo)
Still Waters
Stillwatch
Strangers
Stupid White Men ...and Other Sorry Excuses for the State of the Nation!
Sudden Prey
Summer Pleasures
Summer Sisters
Suzanne's Diary for Nicholas
Tara Road
Tears of the Giraffe (No.1 Ladies Detective Agency)
Tears of the Moon (Irish Trilogy)
Tell Me Lies (Tell Me Lies)
Tell No One
Temptation
That Camden Summer
The Accidental Tourist
The Alchemist: A Fable About Following Your Dream
The Alibi
The Alienist
The Andromeda Strain
The Angel of Darkness
The Bachelor (Warner Books Contemporary Romance)
The Bad Beginning (A Series of Unfortunate Events, Book 1)
The Bad Place
The Beach House
The Bean Trees
The Blind Assassin
The Blue Nowhere : A Novel
The Body Farm
The Bonesetter's Daughter
The Bonfire of the Vanities
The Book of Ruth (Oprah's Book Club (Paperback))
The Bourne Identity
The Bourne Supremacy
The Bourne Ultimatum
The Boy Next Door
The Brethren
The Bridges of Madison County
The Burden of Proof
The Cardinal of the Kremlin (Jack Ryan Novels)
The Carousel
The Catcher in the Rye
The Celestine Prophecy (Celestine Prophecy)
The Chamber
The Cider House Rules
The Clan of the Cave Bear (Earth's Children (Paperback))
The Client
The Color Purple
The Color of Water: A Black Man's Tribute to His White Mother
The Copper Beech
The Cradle Will Fall
The Crimson Petal and the White
The Da Vinci Code
The Dark Half
The Deep End of the Ocean
The Devil Wears Prada : A Novel
The Diary of Ellen Rimbauer: My Life at Rose Red
The Divine Secrets of the Ya-Ya Sisterhood: A Novel
The Dogs of Babel (Today Show Book Club #12)
The Door to December
The Drawing of the Three (The Dark Tower, Book 2)
The Edge
The English Patient
The Fellowship of the Ring (The Lord of the Rings, Part 1)
The Firm
The Five People You Meet in Heaven
The General's Daughter
The Genesis Code
The Gift
The Girl Who Loved Tom Gordon
The Girls' Guide to Hunting and Fishing
The Giver (21st Century Reference)
The Glass Lake
The God of Small Things
The Golden Compass (His Dark Materials, Book 1)
The Great Gatsby
The Green Mile
The Guardian
The Gunslinger (The Dark Tower, Book 1)
The Handmaid's Tale
The Hitchhiker's Guide to the Galaxy
The Hobbit : The Enchanting Prelude to The Lord of the Rings
The Honk and Holler Opening Soon
The Horse Whisperer
The Hot Zone
The Hours : A Novel
The Hours: A Novel
The House of the Spirits
The Hundred Secret Senses
The Hunt for Red October
The Idiot Girls' Action Adventure Club
The Jester
The Joy Luck Club
The King of Torts
The Kiss
The Kitchen God's Wife
The Last Precinct
The Last Time They Met : A Novel
The Little Prince
The Long Road Home
The Loop
The Lost Boy: A Foster Child's Search for the Love of a Family
The Lost World
The Lottery Winner : Alvirah And Willy Stories
The Lovely Bones: A Novel
The Mists of Avalon
The Most Wanted
The Mulberry Tree
The Mummy or Ramses the Damned
The Murder Book
The Nanny Diaries: A Novel
The Next Accident
The No. 1 Ladies' Detective Agency (Today Show Book Club #8)
The Notebook
The Partner
The Pelican Brief
The Perfect Storm : A True Story of Men Against the Sea
The Pillars of the Earth
The Pilot's Wife : A Novel
The Plains of Passage (Earth's Children (Paperback))
The Poisonwood Bible
The Poisonwood Bible: A Novel
The Prince of Tides
The Promise
The Pull of the Moon
The Queen of the Damned (Vampire Chronicles (Paperback))
The Rainmaker
The Rapture of Canaan
The Reader
The Red Tent (Bestselling Backlist)
The Reef
The Regulators
The Reptile Room (A Series of Unfortunate Events, Book 2)
The Rescue
The Return Journey
The Return of the King (The Lord of the Rings, Part 3)
The Robber Bride
The Runaway Jury
The Sands of Time
The Saving Graces: A Novel
The Search
The Secret Garden
The Secret Life of Bees
The Shipping News : A Novel
The Simple Truth
The Smoke Jumper
The Stone Diaries
The Street Lawyer
The Subtle Knife (His Dark Materials, Book 2)
The Sum of All Fears (Jack Ryan Novels)
The Summerhouse
The Summons
The Surgeon
The Sweet Potato Queens' Book of Love
The Switch
The Tale of the Body Thief (Vampire Chronicles (Paperback))
The Talisman
The Tao of Pooh
The Temple of My Familiar
The Testament
The Thorn Birds
The Tommyknockers
The Two Towers (The Lord of the Rings, Part 2)
The Ugly Duckling
The Vampire Lestat (Vampire Chronicles, Book II)
The Villa
The Virgin Suicides
The Wedding
The Weight of Water : A Novel Tag: Author of Resistance and Strange Fits of Passion
The Winner
The Witching Hour (Lives of the Mayfair Witches)
The Witness
Thinner
Three Fates
Three Junes
Three To Get Deadly : A Stephanie Plum Novel (A Stephanie Plum Novel)
Timeline
To Kill a Mockingbird
To the Nines: A Stephanie Plum Novel
Tom Clancy's Op-Center (Tom Clancy's Op Center (Paperback))
Touching Evil
Toxin
Tribulation Force: The Continuing Drama of Those Left Behind (Left Behind No. 2)
Truly, Madly Manhattan
Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson
Turtle Moon
Two for the Dough
Under the Tuscan Sun
Unnatural Exposure
Unspeakable
Vanished
Vector
Vinegar Hill (Oprah's Book Club (Paperback))
Violets Are Blue
Violin
Voyager
WLD ACCORDNG GARP
Waiting to Exhale
Wanderlust
Watchers
Watership Down
We Were the Mulvaneys
We'll Meet Again
Welcome to Temptation
Welcome to the World, Baby Girl!
What Looks Like Crazy On An Ordinary Day
What to Expect When You're Expecting (Revised Edition)
When the Wind Blows
Where the Heart Is (Oprah's Book Club (Paperback))
Where the Red Fern Grows
While I Was Gone
While My Pretty One Sleeps
Whirlwind (Tyler, Book 1)
Whispers
White Oleander : A Novel
White Oleander : A Novel (Oprah's Book Club)
Wicked: The Life and Times of the Wicked Witch of the West
Wild Animus
Winter Moon
Winter Solstice
Wish You Well
Without Remorse
Wuthering Heights
Year of Wonders
You Belong To Me
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values
Zoya
\O\" Is for Outlaw"

In [18]:
import pickle
file = "book_pivot.pkl"
fileobj = open(file, 'wb')
pickle.dump(rating_popular_book_pivot, fileobj)
fileobj.close()

In [19]:
file = "book_pivot.pkl"
fileobj = open(file, 'rb')
pivot = pickle.load(fileobj)

In [20]:
from scipy.sparse import csr_matrix
rating_popular_book_matrix = csr_matrix(rating_popular_book_pivot.values) #Creating matrix out of pivot table which can be given to knn
#rating_popular_book_matrix

In [21]:
#KNN with Cosine Similarity
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_popular_book_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [22]:
# Pickling a python object
file = "book_knn.pkl"
fileobj = open(file, 'wb')
pickle.dump(model_knn, fileobj)
fileobj.close()

In [23]:
file = "book_knn.pkl"
fileobj = open(file, 'rb')
knn = pickle.load(fileobj)
print(knn)
print(type(knn))

NearestNeighbors(algorithm='brute', metric='cosine')
<class 'sklearn.neighbors._unsupervised.NearestNeighbors'>

In [24]:
import requests
def fetch_info(book):
    url = "https://www.googleapis.com/books/v1/volumes?q=title:{}".format(book)
    data = requests.get(url)
    data = data.json()
    item = data['items'][0]
    vol = item['volumeInfo']
    authors = vol['authors']
    publisher = vol['publisher'] if ("publisher" in vol) else ""
    published_date = vol['publishedDate'] if ("published_date" in vol) else ""
    description = vol['description'] if ("description" in vol) else ""
    poster = vol['imageLinks']['thumbnail'] if ("imageLinks" in vol) else ""
    #return description, poster
    return authors, publisher, published_date, description, poster

In [25]:
def getRecommendations(book):
    pd_pvt = rating_popular_book_pivot[(rating_popular_book_pivot.index.get_level_values('book_title') == book)]
    distance, indice = knn.kneighbors(pd_pvt.values, n_neighbors = 6)
    for i in range(0, len(distance.flatten())):
        if i != 0:
            b = rating_popular_book_pivot.index[indice.flatten()[i]]
            print(b)

In [26]:
def getRecommendationsWithDetails(book):
    recommendations = []
    title = []
    authors = []
    publisher = []
    published_date = []
    description = []
    poster = []
    pd_pvt = rating_popular_book_pivot[(rating_popular_book_pivot.index.get_level_values('book_title') == book)]
    distance, indice = knn.kneighbors(pd_pvt.values, n_neighbors = 6)
    for i in range(0, len(distance.flatten())):
        if i != 0:
            b = rating_popular_book_pivot.index[indice.flatten()[i]]
            a, p, pd, d, po = fetch_info(b)
            title.append(b)
            authors.append(a)
            publisher.append(p)
            published_date.append(pd)
            description.append(d)
            poster.append(po)
    for x in range(5):
        d = {}
        d['title'] = title[x]
        d['authors'] = authors[x]
        d['publisher'] = publisher[x]
        d['published_date'] = published_date[x]
        d['description'] = description[x]
        d['poster'] = poster[x]
        recommendations.append(d)
    return recommendations

In [27]:
getRecommendations("Harry Potter and the Chamber of Secrets (Book 2)")

Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Order of the Phoenix (Book 5)
The Fellowship of the Ring (The Lord of the Rings, Part 1)

In [28]:
getRecommendationsWithDetails("Harry Potter and the Chamber of Secrets (Book 2)")

[{'title': 'Harry Potter and the Prisoner of Azkaban (Book 3)',
  'authors': ['J. K. Rowling'],
  'publisher': 'Bloomsbury Publishing',
  'published_date': '',
  'description': "When the Knight Bus crashes through the darkness and screeches to a halt in front of him, it's the start of another far from ordinary year at Hogwarts for Harry Potter. Sirius Black, escaped mass-murderer and follower of Lord Voldemort, is on the run - and they say he is coming after Harry. In his first ever Divination class, Professor Trelawney sees an omen of death in Harry's tea leaves . But perhaps most terrifying of all are the Dementors patrolling the school grounds, with their soul-sucking kiss. These new editions of the classic and internationally bestselling, multi-award-winning series feature instantly pick-up-able new jackets by Jonny Duddle, with huge child appeal, to bring Harry Potter to the next generation of readers. It's time to PASS THE MAGIC ON .",
  'poster': 'http://books.google.com/books/content?id=lZrHBAAAQBAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
 {'title': 'Harry Potter and the Goblet of Fire (Book 4)',
  'authors': ['J. K. Rowling'],
  'publisher': 'Arthur A. Levine Books',
  'published_date': '',
  'description': "The fourth book in the beloved Harry Potter series, now illustrated in glorious full color by award-winning artist Jim Kay. Harry Potter wants to get away from the pernicious Dursleys and go to the International Quidditch Cup with Hermione, Ron, and the Weasleys. He wants to dream about Cho Chang, his crush (and maybe do more than dream). He wants to find out about the mysterious event involving two other rival schools of magic, and a competition that hasn't happened for a hundred years. He wants to be a normal, fourteen-year-old wizard. Unfortunately for Harry Potter, he's not normal - even by wizarding standards. And in this case, different can be deadly. With dazzling illustrations from Jim Kay, this new fully illustrated edition of the complete and unabridged text of Harry Potter and the Goblet of Fire is sure to delight fans and first-time readers alike.",
  'poster': 'http://books.google.com/books/content?id=MCPjwAEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
 {'title': "Harry Potter and the Sorcerer's Stone (Book 1)",
  'authors': ['J. K. Rowling'],
  'publisher': 'Arthur A. Levine Books',
  'published_date': '',
  'description': "A special new edition in celebration of the 20th anniversary of the publication of Harry Potter and the Sorcerer's Stone, with a stunning new cover illustration by Caldecott Medalist Brian Selznick. Harry Potter has never been the star of a Quidditch team, scoring points while riding a broom far above the ground. He knows no spells, has never helped to hatch a dragon, and has never worn a cloak of invisibility. All he knows is a miserable life with the Dursleys, his horrible aunt and uncle, and their abominable son, Dudley - a great big swollen spoiled bully. Harry's room is a tiny closet at the foot of the stairs, and he hasn't had a birthday party in eleven years. But all that is about to change when a mysterious letter arrives by owl messenger: a letter with an invitation to an incredible place that Harry - and anyone who reads about him - will find unforgettable. For it's there that he finds not only friends, aerial sports, and magic in everything from classes to meals, but a great destiny that's been waiting for him... if Harry can survive the encounter. This gorgeous new edition in celebration of the 20th anniversary of the publication of Harry Potter and the Sorcerer's Stone features a newly designed cover illustrated by Caldecott Medalist Brian Selznick, as well as the beloved original interior decorations by Mary GrandPré.",
  'poster': 'http://books.google.com/books/content?id=3YUrtAEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
 {'title': 'Harry Potter and the Order of the Phoenix (Book 5)',
  'authors': ['J. K. Rowling'],
  'publisher': 'Scholastic Paperbacks',
  'published_date': '',
  'description': "As Harry faces his upcoming fifth year at Hogwarts Academy, there are increasing rumors of dark times coming and of Lord Voldemort's return to power, and a secret anti-Voldemort society, The Order of the Phoenix, begins meeting again.",
  'poster': 'http://books.google.com/books/content?id=Y0HbmAEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'},
 {'title': 'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
  'authors': ['J. R. R. Tolkien'],
  'publisher': 'Mariner Books',
  'published_date': '',
  'description': 'After discovering the true nature of the One Ring, Bilbo Baggins entrusts it to the care of his young cousin, Frodo, who is charged with bringing about its destruction and thus foiling the plans of the Dark Lord.',
  'poster': 'http://books.google.com/books/content?id=GNnxzQEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api'}]